<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.cpuusage.CpuUsageView"
            icon="icons/eview16/cpu-usage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage"
            name="%cpuusage.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency"
            name="%latency.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyScatterView"
            icon="icons/eview16/scatter.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.scatter"
            name="%latency.scatter.view.name"
            restorable="true">
       </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.statistics.SystemCallLatencyStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.statsview"
            name="%latency.stats.view.name"
            restorable="true">
      </view>
     <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.EventChainLatencyView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latencychain"
            name="%latencychain.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.EventChainLatencyScatterView"
            icon="icons/eview16/scatter.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.chainscatter"
            name="%latencychain.scatter.view.name"
            restorable="true">
       </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.statistics.EventChainLatencyStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.chainstatsview"
            name="%latencychain.stats.view.name"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyDensityView"
            icon="icons/eview16/density.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.density"
            name="%latency.density.view.name"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.EventChainLatencyDensityView"
            icon="icons/eview16/density.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.chaindensity"
            name="%latencychain.density.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.xmlIrqLatency.XMLIrqLatency"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.xmlIrqLatency"
            name="IRQ Latency Analysis"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.xmlIrqAverageLatency.XMLIrqAverageLatency"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.xmlIrqAverageLatency"
            name="IRQ Latency Statistics"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.irqscatter.IRQLatencyScatterGraphView"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.irqLatencyScatterChart"
            name="IRQ Latency vs Time"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.xmlIrqLatency.IRQLatencyDensityView"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.irqDensityView"
            name="IRQ Density View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernelanalysis.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernelanalysis.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.scatter">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.statsview">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.density">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latencychain">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.EventChainLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.chainstatsview">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.EventChainLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.chainscatter">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.EventChainLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.chaindensity">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.EventChainLatencyAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
</plugin>
